<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>QCS Insulin</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="css/formValidation.min.css" rel="stylesheet">
    <style>

        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .hero-unit {
            background: #E0E0E0;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">QCS Insulin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="getPersonalHistory">Personal history</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container " style="margin-top:20px;">
    <div class="row">

        <div class="col-md-8">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#mealtimeinsulindose" aria-controls="home" role="mealtimeinsulindose" data-toggle="tab">Mealtime insulin dose</a></li>
                <li role="presentation"><a href="#backgroundinsulindose" aria-controls="home" role="backgroundinsulindose" data-toggle="tab">Background insulin dose</a></li>
                <li role="presentation"><a href="#personalinsulinsensivity" aria-controls="home" role="personalinsulinsensivity" data-toggle="tab">Personal insulin sensivity</a></li>
            </ul>
        </div>

        <div class="col-md-8 tab-content">
            <div role="tabpanel" id="mealtimeinsulindose" class="jumbotron tab-pane fade in active">
                <h3><strong>Mealtime insulin dose</strong></h3>

                <form class="form-horizontal" style="margin-top: 30px;" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Carbohydrate amount (g)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="carbohydrateAmount" placeholder="60-120">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Carbohydrate to insulin ratio (mg/dl)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="carbohydrateToInsulinRatio" value="12" placeholder="12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Pre meal blood sugar (mg/dl)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="preMealBloodSugar" placeholder="120">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Target blood sugar (mg/dl)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="targetBloodSugar" placeholder="80-120">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-5 control-label">Personal activity level</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="physicalActivityLevel" placeholder="0-10">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Physical activity samples</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="physicalActivitySamples" placeholder="4,3,8">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Blood sugar samples</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="bloodSugarDropSamples" placeholder="50,27,32">
                        </div>
                    </div>

<!---
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Personal sensitivity (mg/dl)</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="personalSensitivity" placeholder="" value="50">
                        </div>
                    </div>
-->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-small pull-right" disabled>Calculate insulin dose</button>
                        </div>
                    </div>

                </form>
            </div>

            <div role="tabpanel" id="backgroundinsulindose" class="jumbotron tab-pane fade ">
                <h3><strong>Background insulin dose</strong></h3>

                <form class="form-horizontal" role="form" style="margin-top: 30px;">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Body weight</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="bodyWeight" placeholder="75kg">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-small pull-right" disabled>Calculate insulin dose</button>
                        </div>
                    </div>
                </form>
            </div>

            <div role="tabpanel" id="personalinsulinsensivity" class="jumbotron tab-pane fade">
                <h3><strong>Personal insulin sensivity</strong></h3>
                <form class="form-horizontal" style="margin-top: 30px;" role="form">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Personal activity level</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="physicalActivityLevel" placeholder="0-10">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Physical activity samples</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="physicalActivitySamples" placeholder="4,3,8">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Blood sugar samples</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="bloodSugarDropSamples" placeholder="50,27,32">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-small pull-right" disabled>Calculate insulin dose</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4">

            <button class="btn btn-primary" id="waitingresponse" type="button" style="display: none;">
                Waiting response <i class="fa fa-spinner fa-spin"></i>
            </button>

            <button class="btn btn-warning" id="retrying" type="button" style="display: none;">
                <i class="fa fa-spinner fa-spin"></i> Failed, retrying...
            </button>

            <button class="btn btn-danger" id="failed" type="button" style="display: none;">
                <i class="fa fa-times"></i> Failed
            </button>



            <h2>Result</h2>
            <input class="form-control"  id="results">
        </div>

    </div>

    <div class="row">
        <button id="showDetails" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Show details
        </button>
    </div>

    <div class="row" id="rowDetails" style="display: none;">
        <div class="col-md-12">

                <h3>Details</h3>
                <table id="tabelaResultados" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Source</th>
                      <th>Response time</th>
                      <th>Returned</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                


        </div>
    </div>

</div>

<div id="history_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Personal history</h4>
      </div>
      <div class="modal-body">
        <p><strong>Personal activity samples:</strong> <span id="physicalActivitySamples_history"></span></p>
        <p><strong>Blood sugar drop samples:</strong> <span id="bloodSugarDropSamples_history"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>  

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.min.js"></script>
<script src="js/formValidation.min.js"></script>
<script src="js/framework/bootstrap.min.js"></script>

<script src="js/script.js"></script>

</body>
</html>